.budgets-page {
    #budget-toolbar {
        margin-top: 7px;
        margin-left: 5px;
        .btn-group {
            button {
                background: white;
                color: #5cb85c;
                &.selected {
                    background: #5cb85c;
                    color: white;
                }
            }
        }
    }

    .fixed-budget-table, .flex-budget-table {
        margin: 0 20px;
    }

    #budget-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 30px;
        font-size: 15px;
        position: relative;
        tr {
            background: #fff;
        }
        th {
            .fa-plus {
                color: #5cb85c;
            }
            .fa-minus {
                color: #d9534f;
            }
        }
        .order-by {
            margin-bottom: 15px;
        }
        input, select {
            //width: 100%;
        }
        .CSD {
//            width: 140px;
        }
        table {
            .totals {
                @include totals;
                th {
                    border-radius: 0;
                }
            }
        }
    }

    .unassigned-budget-table {
        max-width: 300px;
        margin: auto;
        td {
            text-align: left;
        }
    }

    .fixed-budget-table, .flex-budget-table {
        td {
            text-align: right;
        }
    }

}
