/*==============================colours==============================*/

$lightgreen: lightgreen;
$red: lighten(red, 20%);
$green: green;
$orange: orange;
$lightgrey: lightgrey;
$grey: #777;
$black: black;

$select_blue: #6D84B4;
$blue: #94C6E1;
$lightblue1: #F2F8FA;
$lightblue2: lightblue;

$white: white;
$off_white: #F8F8F8;

$bootstrap_red: #f2dede;
$bootstrap_green: #dff0d8;
$bootstrap_yellow: #fcf8e3;