.bg-dark {
	background: darken(#f2f8fa, 5%);
}

// .table {
// 	width: 100%;
// }

#my_results .my-dropdown-container, #new-transaction-wrapper .my-dropdown-container {
	padding: 0px !important;
}

.list-group-heading {
	text-align: center;
}

.label {
	margin-right: 3px;
}

#description_autocomplete {
	tbody:nth-child(even) {
		background: $white;
	}
	tbody:nth-child(odd) {
		background: $lightblue1;
	}
}