@mixin transaction_popup {
    width: 600px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    box-shadow: 3px 3px 5px #777;
    border: 1px solid #777;
    > div {
        display: flex;
        justify-content: space-between;
        margin: 12px 0;
        &.type {
            justify-content: center;
        }
        > div {
            margin: 0px 20px;
            width: 200px;
        }
    }
    .autocomplete-container {
        @include autocomplete_container;
    }
    .no-results {
        text-align: center;
        border: 1px solid;
        padding: 3px 0;
        border-radius: 3px;
        //box-shadow: 2px 2px 5px #777;
        margin: 8px 5px;
    }
    .btn-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
//    .reconcile {
//        display: flex;
//        flex-direction: column;
//        justify-content: center;
//    }
}