/*==============================variables==============================*/
$budget_width: 50%;
$border: none;
$results_border: 3px solid $lightgrey;
$view_width: 60%;
$view_margin-left: 148px;
$view_transactions_height: 38px;
$border-radius: 5px;
$results_tag_location_container_height: 23px;