
@mixin dropdown_contents {
    width: 400px;
    opacity: .8;
    z-index: 9;
    position: absolute;
    border-radius: 7px;
    background: #ffffff;
    box-shadow: 3px 5px 5px #777;
    padding: 10px 20px;
    border: .5px solid #777;
    margin-top: 9px;
    label {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@mixin autocomplete_container {
    position: relative;
    > input {
        width: 100%;
    }
    .transactions-autocomplete {
        max-height: 200px;
        overflow: scroll;
        z-index: 9;
        background: white;
        width: 508px;
        position: absolute;
        &#merchant-autocomplete {
            left: 0;
        }
        &#description-autocomplete {
            right: 0;
        }
        td, th {
            max-width: 57px;
            font-size: 13px;
            padding: 0;
            overflow: scroll;
        }
        .selected {
//            background-color: lightblue;
            color: #ffffff;
        }
    }
}

@mixin totals {
	background: #777;
	color: white;
//	font-weight: bold;
}

@mixin createNew {
    box-shadow: 3px 3px 5px #777;
    margin-bottom: 30px;
    border-radius: 4px;
    padding: 14px;
    width: 293px;
    .flex {
        display: flex;
        justify-content: space-between;
    }
}