@mixin tag_wrapper {
    width: 100%;
    .tag-input-wrapper {
        input {
            width: 100%;
        }
    }
    .tag-display {
        height: 34px;
        .removable-tag {
            cursor: pointer;
            transition: all, .3s, ease;
            position: relative;
            &:hover {
                padding: .4em 1.6em .4em;
                .fa-times {
                    display: inline;
                }
            }
            .fa-times {
                font-size: 10px;
                position: relative;
                left: 8px;
                display: none;
            }
        }
    }
    .tag-dropdown {
        max-height: 200px;
        overflow: scroll;
        li {
            list-style-type: none;
        }
    }
}