#filter {
	position: fixed;
	top: 41px;
	right: 0px;
	opacity: .8;
	height: 732px;
    width: 275px;
	overflow: scroll;
	padding: 8px;
	z-index: 9;
//    border: 3px ridge #fff;
    box-shadow: -4px 4px 6px #777;
	.tag-input-wrapper input {
		width: auto;
	}
	.accounts, .types, .status, .budget {
		> div {
			display: flex;
			align-items: center;
		}
	}
	input[type = "radio"] {
		width: 27px;
		margin-right: 7px;
	}
	> * {
		margin: 8px;
	}
}