.main-content {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
	margin: 30px 15px 15px 15px;
	> * {
		margin: 15px 15px;
	}
    ul.list-group {
        margin-top: 0;
    }
}

.totals {
    box-shadow: 3px 3px 10px #777;
}