#allocation-popup {
	max-width: 500px;
	#allocation-table-container {
		display: flex;
		justify-content: center;
		td, th {
			padding: 0;
			//overflow: scroll;
			font-size: 9px;
			@media (min-width: 400px) {
				padding: 5px 5px;
				font-size: 12px;
			}
		}
		select {
			font-size: 9px;
		}
		td {
			height: 20px;
			* {
				height: 20px;
			}
			div {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				margin-right: 5px;
				text-align: right;
				position: relative;
				&.editable {
					justify-content: space-between;
				}
				.edit {
					width: 10px;
					font-size: 5px;
				}
			}
			input {
				width: 50px;
				padding: 0;
				border: none;
			}
		}
		.totals {
			@include totals;
		}
	}
	p {
		font-size: 11px;
		@media (min-width: 400px) {
			font-size: 12px;
		}
	}
	.center-contents {
		display: flex;
		justify-content: center;
	}
}