#filter-totals {
    .list-group-item {
        padding: 5px 15px;
    }
}
#filter {
    //animation
    animation: slideInRight .5s;
    &.filter-leave {
        animation: bounceOutRight 2s;
    }

	position: fixed;
	top: 49px;
	right: 0px;
//	opacity: .8;
	height: 660px;
    overflow: scroll;
    width: 400px;
	overflow: scroll;
	padding: 8px;
	z-index: 9;
    box-shadow: -4px 4px 6px #777;
    background: white;

    .toolbar-filter {
        display: flex;
        margin-bottom: 5px;
        select {
            width: 60px;
        }
    }

    .flex {
        display: flex;
    }

    .btn-group {
        display: flex;
        button {
            flex-grow: 1;
        }
    }

    .section {
        margin: 8px;
        h4 {
            margin: 0;
            padding: 10px 0;
            background: black;
            color: #CFCFCF;
            cursor: pointer;
            width: 235px;
        }
        .content {
            display: none;
            label {
                &.disabled {
//                    text-decoration: line-through;
//                    text-decoration-color: red;
                    position: relative;
                    &:after {
                        content: '';
                        border-bottom: 2px solid red;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        width: 100%;
                    }
                }
            }
        }
    }



//    .transition {
//        opacity: 1;
//        height: 180px;
//    }
//    .transition.ng-hide-add.ng-hide-add-active,
//    .transition.ng-hide-remove.ng-hide-remove-active {
//        -webkit-transition: all linear .5s;
//        transition: all linear .5s;
//    }
//    .transition.ng-hide {
//        opacity: 0;
//        height: 0px;
//    }

    .group {
        display: flex;
    }
	.tag-input-wrapper input {
		width: auto;
	}
	.accounts, .types, .status, .budget {
		> div {
			display: flex;
			align-items: center;
		}
	}
	input[type = "radio"] {
		width: 27px;
		margin-right: 7px;
	}

}