#filter-totals {
    .list-group-item {
        padding: 5px 15px;
    }
}
#filter {
    //animation
    animation: slideInRight .5s;
    &.filter-leave-active {
        animation: bounceOutRight 2s;
    }

    #saved-filters-autocomplete {
        margin-bottom: 10px;
    }

    #filter-toolbar {
        margin-bottom: 12px;

        #filter-how-many {
            width: 100%;
            margin-bottom: 10px;
        }

        #filter-navigation-buttons {
            width: 100%;
            display: flex;
            > * {
                flex-grow: 1;
            }
        }
    }



    //position: fixed;
    //top: 49px;
    //right: 0px;
    //height: 660px;
    //overflow: scroll;
    width: 392px;
	//padding: 8px;
	z-index: 9;
    //box-shadow: -4px 4px 6px #777;
    background: white;

    .flex {
        display: flex;
    }

    .nav-tabs {
        display: flex;
        margin-bottom: 10px;
        > li {
            flex-grow: 1;
            text-align: center;
        }
        a:focus {
            outline: none;
        }
        .show-tab.active {
            a {
                background: $success;
                color: white;
            }

        }
        .hide-tab.active {
            a {
                background: $danger;
                color: white;
            }
        }
    }
    .section {
        //margin: 8px;
        h4 {
            margin: 0;
            padding: 10px 0;
            //background: black;
            //color: #CFCFCF;
            cursor: pointer;
            text-align: left;
        }
        .content {
            display: none;
            padding-top: 15px;
            .form-group {
                margin-bottom: 0;
                padding-bottom: 15px;
            }
            label {
                &.disabled {
//                    text-decoration: line-through;
//                    text-decoration-color: red;
                    position: relative;
                    &:after {
                        content: '';
                        border-bottom: 2px solid red;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        width: 100%;
                    }
                }
            }
        }
    }

    .group {
        display: flex;
    }
	.tag-input-wrapper input {
		width: auto;
	}
}