.main-content {
	display: flex;
	flex-wrap: wrap;
    justify-content: flex-start;
	margin: 30px 15px 15px 15px;
	> * {
		margin: 15px 15px;
	}
    ul.list-group {
        margin-top: 0;
    }
}

#my_results .my-dropdown-container, #new-transaction-wrapper .my-dropdown-container {
    padding: 0px !important;
}

.label {
    margin-right: 3px;
}

.no_match {
    display: none;
}

.hidden_tag {
    display: none;
}

#tag_exists {
    display:none;
}

.select, #description_autocomplete tbody.select {
    background: $select_blue;
}