/*==============================variables==============================*/
/*==============================global==============================*/
html, body {
  max-width: 100%;
  overflow-x: hidden;
  background: #fff;
  margin: 0; }

body {
  padding-top: 40px;
  color: #777; }

html, body {
  height: 100%; }

h1, h2, h3, h4, h5 {
  text-align: center;
  color: #777; }

body .main {
  padding-bottom: 60px;
  min-height: 100%;
  display: none; }
body footer {
  display: none;
  justify-content: space-around;
  padding: 11px;
  background: #000000;
  height: 60px;
  position: relative;
  margin-top: -60px; }
  body footer li {
    display: flex;
    align-items: center; }

button {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  font-size: 14px;
  padding: 6px 12px; }
  button:not([disabled]):active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    border: 1px solid black; }
  button:not([disabled]):hover, button:not([disabled]):focus, button:not([disabled]):active {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333; }
  button[disabled] {
    cursor: not-allowed;
    opacity: .5; }

p {
  width: 238px;
  padding: 0 20px;
  text-align: center; }

select {
  padding-top: 4px;
  width: 100%;
  height: 30px; }

input {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px; }
  input:focus {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

input[type="checkbox"] {
  height: 34px;
  width: 34px;
  margin: 0; }

table {
  border-collapse: separate;
  border-radius: 18px;
  text-align: center; }
  table th {
    border-radius: 18px;
    padding: 10px 10px;
    text-align: center; }
  table td {
    vertical-align: middle;
    padding: 0px 9px; }
    table td > div {
      display: flex;
      align-items: center; }

caption {
  padding: 8px;
  font-weight: bold; }

#navbar {
  display: none;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  color: #888;
  background: black;
  padding: 0;
  margin: 0; }
  #navbar > li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 44px;
    min-width: 70px; }
    #navbar > li > a {
      transition: all .5s ease; }
    #navbar > li:hover > a {
      font-size: 25px; }
  #navbar a {
    color: #337ab7; }
  #navbar .gravatar-li {
    min-width: 160px; }
    #navbar .gravatar-li .gravatar-container {
      margin-left: 5px;
      display: flex;
      align-items: center; }
      #navbar .gravatar-li .gravatar-container .gravatar {
        border-radius: 8px;
        height: 32px; }

.tag-with-budget {
  background: green; }

.tag-with-fixed-budget {
  background: #337ab7; }
  .tag-with-fixed-budget:after {
    content: ' fixed';
    font-size: 6px; }

.tag-with-flex-budget {
  background: #fca700; }
  .tag-with-flex-budget:after {
    content: ' flex';
    font-size: 6px; }

.tag-wrapper {
  width: 100%; }
  .tag-wrapper .tag-input-wrapper input {
    width: 100%; }
  .tag-wrapper .tag-input-wrapper .tag-dropdown {
    max-height: 200px;
    overflow: scroll;
    cursor: pointer; }
    .tag-wrapper .tag-input-wrapper .tag-dropdown .dropdown-item {
      padding: 4px 0; }
      .tag-wrapper .tag-input-wrapper .tag-dropdown .dropdown-item .highlight {
        background-color: lightblue;
        color: #ffffff; }
      .tag-wrapper .tag-input-wrapper .tag-dropdown .dropdown-item.selected {
        background-color: lightblue;
        color: #ffffff; }
  .tag-wrapper .tag-display {
    height: 34px; }
    .tag-wrapper .tag-display .removable-tag {
      cursor: pointer;
      transition: all, .3s, ease;
      position: relative; }
      .tag-wrapper .tag-display .removable-tag:hover {
        padding: .4em 1.6em .4em; }
        .tag-wrapper .tag-display .removable-tag:hover .fa-times {
          display: inline; }
      .tag-wrapper .tag-display .removable-tag .fa-times {
        font-size: 10px;
        position: relative;
        left: 8px;
        display: none; }

.error_message {
  font-size: 17px;
  position: fixed;
  text-align: center;
  top: 52px;
  width: 100%;
  background: #ff6666;
  padding: 3px 8px;
  cursor: pointer; }

#feedback {
  position: fixed;
  right: 11px;
  top: 44px;
  z-index: 9999; }
  #feedback .feedback-message {
    background: white;
    color: #777;
    line-height: 40px;
    margin-bottom: 20px;
    padding: 0px 10px;
    border-radius: 4px;
    position: relative;
    border: 1px solid #777;
    box-shadow: 3px 3px 5px #777, inset 0 0 5px #777; }
    #feedback .feedback-message.error {
      background: #d9534f;
      color: white; }
    #feedback .feedback-message.success {
      background: #5cb85c;
      color: white; }
  #feedback .feedback-message.ng-move,
  #feedback .feedback-message.ng-enter,
  #feedback .feedback-message.ng-leave {
    -webkit-transition: all linear .5s;
    transition: all linear .5s; }
  #feedback .feedback-message.ng-leave.ng-leave-active,
  #feedback .feedback-message.ng-move,
  #feedback .feedback-message.ng-enter {
    left: 200px; }
  #feedback .feedback-message.ng-leave,
  #feedback .feedback-message.ng-move.ng-move-active,
  #feedback .feedback-message.ng-enter.ng-enter-active {
    left: 0; }

.fa {
  font-size: 24px; }

.fa-edit {
  visibility: hidden;
  cursor: pointer; }

.delete_tag, .delete_account {
  visibility: hidden;
  cursor: pointer; }

.delete {
  padding: 0 !important;
  color: red;
  cursor: pointer;
  position: absolute;
  z-index: 9;
  height: 100%;
  background: none !important;
  border: none; }
  .delete.delete-transaction {
    height: 14px;
    left: 0;
    top: -4px;
    line-height: 100%; }
  .delete.delete_budget {
    right: 0;
    top: -4px; }

.popup-outer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999; }
  .popup-outer .popup-inner {
    position: relative;
    border-radius: 5px;
    margin-top: 10%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    overflow: scroll;
    height: 500px;
    padding: 25px; }
    .popup-outer .popup-inner .popup-buttons {
      position: absolute;
      bottom: 10px;
      right: 10px;
      margin: 0px 3px; }

#recipe-method, #edit-recipe-method {
  background: lightgrey; }

@media all and (min-width: 680px) {
  .popup-inner {
    padding: 22px; } }
.checkbox-wrapper {
  display: flex;
  align-items: center; }

.checkbox-animate input {
  visibility: hidden;
  position: absolute; }
.checkbox-animate label {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #777;
  padding: 0px;
  cursor: pointer;
  width: 27px;
  height: 27px;
  position: relative;
  box-shadow: 0px 0px 4px #777 inset; }
  .checkbox-animate label .label-icon {
    display: none;
    justify-content: center;
    align-items: center;
    animation-duration: .5s; }
    .checkbox-animate label .label-icon .fa-check {
      font-size: 24px; }

.cb-container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .cb-container .label-text {
    padding: 0px 5px; }

.cb-slider-wrapper {
  width: 38px;
  height: 16px;
  border-radius: 8px;
  background: black;
  position: relative; }
  .cb-slider-wrapper input {
    visibility: hidden; }
  .cb-slider-wrapper label {
    display: inline; }
    .cb-slider-wrapper label span.label-icon {
      background: red;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      position: absolute;
      left: 0;
      cursor: pointer;
      transition: all, .5s, ease; }
  .cb-slider-wrapper input:checked + label span.label-icon {
    background: green;
    left: 23px; }

.cb-fa-wrapper {
  width: 40px;
  height: 40px;
  position: relative; }
  .cb-fa-wrapper input {
    visibility: hidden; }
  .cb-fa-wrapper label {
    display: inline;
    text-align: center;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    transition: all, .5s, ease; }
    .cb-fa-wrapper label i {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 0;
      bottom: 0;
      color: green;
      font-size: 24px;
      opacity: .2; }
  .cb-fa-wrapper input:checked + label i {
    opacity: 1; }

#toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 33px 18px 30px; }
  #toolbar button:not(:last-child) {
    margin-right: 3px; }
  #toolbar .badge {
    margin-left: 15px;
    margin-right: 20px; }
  #toolbar select {
    width: auto; }
  #toolbar .toolbar-filter, #toolbar .flex {
    display: flex;
    align-items: center; }
  #toolbar .flex {
    justify-content: flex-start; }
  #toolbar .btn-group button {
    background: white;
    color: #5cb85c;
    margin: 0; }
    #toolbar .btn-group button.selected {
      background: #5cb85c;
      color: white; }

.dropdown {
  display: inline-block; }
  .dropdown .dropdown-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 400px;
    opacity: .8;
    z-index: 9;
    position: absolute;
    border-radius: 7px;
    background: #ffffff;
    box-shadow: 3px 5px 5px #777;
    padding: 10px 20px;
    border: .5px solid #777;
    margin-top: 9px; }
    .dropdown .dropdown-content label {
      display: flex;
      justify-content: space-between;
      align-items: center; }

.dropdown-directive.no-dropdown-style .dropdown-content {
  display: none; }

.dropdown-directive:not(.no-dropdown-style) {
  display: inline-block;
  position: relative; }
  .dropdown-directive:not(.no-dropdown-style) .btn {
    margin-left: 10px; }
  .dropdown-directive:not(.no-dropdown-style) .dropdown-content {
    flex-wrap: wrap;
    justify-content: space-around;
    display: none;
    width: 400px;
    opacity: .8;
    z-index: 9;
    position: absolute;
    border-radius: 7px;
    background: #ffffff;
    box-shadow: 3px 5px 5px #777;
    padding: 10px 20px;
    border: .5px solid #777;
    margin-top: 9px; }
    .dropdown-directive:not(.no-dropdown-style) .dropdown-content label {
      display: flex;
      justify-content: space-between;
      align-items: center; }

#actions {
  flex-direction: column;
  width: 200px; }

.my-btn-dropdown {
  display: inline-block; }
  .my-btn-dropdown .dropdown-content {
    animation: slideInDown .5s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 400px;
    opacity: .8;
    z-index: 9;
    position: absolute;
    border-radius: 7px;
    background: #ffffff;
    box-shadow: 3px 5px 5px #777;
    padding: 10px 20px;
    border: .5px solid #777;
    margin-top: 9px; }
    .my-btn-dropdown .dropdown-content.ng-hide {
      animation: slideOutUp .5s; }
    .my-btn-dropdown .dropdown-content label {
      display: flex;
      justify-content: space-between;
      align-items: center; }

.totals {
  box-shadow: 3px 3px 10px #777; }
  .totals .changed {
    position: absolute;
    right: -100px;
    top: 13px;
    border: 1px solid #777;
    z-index: 99999; }

#loading {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 40px;
  color: #5bc0de;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  z-index: 9999; }

#page-loading {
  background: white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 99;
  font-size: 40px;
  color: #5bc0de;
  display: flex;
  justify-content: center;
  align-items: center; }

.pointer {
  cursor: pointer; }

.hover-parent > *:hover {
  background: #b5b5b5; }

.list-group {
  border-radius: 5px; }

.list-group-item-success {
  background: white;
  color: #5cb85c; }
  .list-group-item-success span {
    background: #5cb85c; }

.list-group-item-warning {
  background: white;
  color: #fca700; }
  .list-group-item-warning span {
    background: #fca700; }

.list-group-item-info {
  background: white;
  color: #5bc0de; }
  .list-group-item-info span {
    background: #5bc0de; }

.list-group-item-danger {
  background: white;
  color: #d9534f; }
  .list-group-item-danger span {
    background: #d9534f; }

.btn-group .btn {
  margin: 0 -2px;
  border-radius: 0px; }
  .btn-group .btn:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }
  .btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; }

.hover:hover {
  background: #b5b5b5; }

.bold {
  font-weight: bold; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.margin-bottom {
  margin-bottom: 15px; }

.block {
  display: block; }

.selected {
  background: #6d84b4; }

.absolute {
  position: absolute; }

.fixed-bottom {
  position: fixed;
  bottom: 0; }

.border-box {
  box-sizing: border-box; }

.btn-xs {
  font-size: 8px;
  padding: 1px; }

.font-size-sm {
  font-size: 15px; }

.font-size-md {
  font-size: 20px; }

.bg-blue {
  background: #6d84b4; }

.bg-red {
  background: #ff8080; }

.bg-green-1 {
  background: #dff0d8; }

.bg-green {
  background: #004d00; }

.bg-yellow {
  background: #ffffb3; }

.bg-pink {
  background: pink; }

.bg-grey {
  background: #aaaaaa; }

.bg-black {
  background: black; }

.bg-dark {
  background: #e0eef3; }

.min-width-md {
  min-width: 40px; }

.max-width-sm {
  max-width: 20px; }

.max-width-md {
  max-width: 40px; }

.max-width-lg {
  max-width: 80px; }

.width-100 {
  width: 100%; }

.height-100 {
  height: 100%; }

.relative {
  position: relative; }

.absolute-right {
  position: absolute;
  right: 0; }

.my-input-group input, .my-input-group button {
  display: block;
  width: 100%; }

.my-btn-group {
  display: flex;
  display: -webkit-flex; }
  .my-btn-group button {
    display: block;
    width: 100%; }

#allocation-popup {
  max-width: 500px; }
  #allocation-popup #allocation-table-container {
    display: flex;
    justify-content: center; }
    #allocation-popup #allocation-table-container td, #allocation-popup #allocation-table-container th {
      padding: 0;
      overflow: scroll;
      font-size: 9px; }
      @media (min-width: 400px) {
        #allocation-popup #allocation-table-container td, #allocation-popup #allocation-table-container th {
          padding: 5px 5px;
          font-size: 12px; } }
    #allocation-popup #allocation-table-container select {
      font-size: 9px; }
    #allocation-popup #allocation-table-container td {
      height: 20px; }
      #allocation-popup #allocation-table-container td * {
        height: 20px; }
      #allocation-popup #allocation-table-container td div {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 5px;
        text-align: right;
        position: relative; }
        #allocation-popup #allocation-table-container td div.editable {
          justify-content: space-between; }
        #allocation-popup #allocation-table-container td div .edit {
          width: 10px;
          font-size: 5px; }
      #allocation-popup #allocation-table-container td input {
        width: 50px;
        padding: 0;
        border: none; }
    #allocation-popup #allocation-table-container .totals {
      background: #777;
      color: white; }
  #allocation-popup p {
    font-size: 11px; }
    @media (min-width: 400px) {
      #allocation-popup p {
        font-size: 12px; } }
  #allocation-popup .center-contents {
    display: flex;
    justify-content: center; }

#filter {
  animation: slideInRight .5s;
  position: fixed;
  top: 110px;
  right: 0px;
  opacity: .8;
  width: 275px;
  overflow: scroll;
  padding: 8px;
  z-index: 9;
  box-shadow: -4px 4px 6px #777;
  background: white; }
  #filter.ng-hide {
    animation: bounceOutRight 2s; }
  #filter .btn-group {
    display: flex; }
    #filter .btn-group button {
      flex-grow: 1; }
  #filter .section {
    margin: 8px; }
    #filter .section h4 {
      margin: 0;
      padding: 10px 0;
      background: black;
      color: #CFCFCF;
      cursor: pointer; }
    #filter .section .content {
      display: none; }
      #filter .section .content label.disabled {
        position: relative; }
        #filter .section .content label.disabled:after {
          content: '';
          border-bottom: 2px solid red;
          position: absolute;
          left: 0;
          top: 50%;
          width: 100%; }
  #filter .group {
    display: flex; }
  #filter .tag-input-wrapper input {
    width: auto; }
  #filter .accounts > div, #filter .types > div, #filter .status > div, #filter .budget > div {
    display: flex;
    align-items: center; }
  #filter input[type="radio"] {
    width: 27px;
    margin-right: 7px; }

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 15px 15px 15px; }
  .main-content > * {
    margin: 15px 15px; }
  .main-content ul.list-group {
    margin-top: 0; }

#my_results .my-dropdown-container, #new-transaction-wrapper .my-dropdown-container {
  padding: 0px !important; }

.label {
  margin-right: 3px; }

.no_match {
  display: none; }

.hidden_tag {
  display: none; }

#tag_exists {
  display: none; }

.select, #description_autocomplete tbody.select {
  background: #6d84b4; }

#new-transaction-container {
  display: flex;
  justify-content: center; }
  #new-transaction-container #new-transaction {
    width: 600px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    box-shadow: 3px 3px 5px #777;
    border: 1px solid #777;
    animation: slideInDown .5s; }
    #new-transaction-container #new-transaction > div {
      display: flex;
      justify-content: space-between;
      margin: 12px 0; }
      #new-transaction-container #new-transaction > div.type {
        justify-content: center; }
      #new-transaction-container #new-transaction > div > div {
        margin: 0px 20px;
        width: 200px; }
    #new-transaction-container #new-transaction .autocomplete-container {
      position: relative; }
      #new-transaction-container #new-transaction .autocomplete-container > input {
        width: 100%; }
      #new-transaction-container #new-transaction .autocomplete-container .transactions-autocomplete {
        max-height: 200px;
        overflow: scroll;
        z-index: 9;
        background: white;
        width: 508px;
        position: absolute; }
        #new-transaction-container #new-transaction .autocomplete-container .transactions-autocomplete#merchant-autocomplete {
          left: 0; }
        #new-transaction-container #new-transaction .autocomplete-container .transactions-autocomplete#description-autocomplete {
          right: 0; }
        #new-transaction-container #new-transaction .autocomplete-container .transactions-autocomplete td, #new-transaction-container #new-transaction .autocomplete-container .transactions-autocomplete th {
          max-width: 57px;
          font-size: 13px;
          padding: 0;
          overflow: scroll; }
        #new-transaction-container #new-transaction .autocomplete-container .transactions-autocomplete .selected {
          color: #ffffff; }
    #new-transaction-container #new-transaction .btn-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between; }
    #new-transaction-container #new-transaction.ng-hide {
      animation: slideOutUp .5s; }
    #new-transaction-container #new-transaction .help-row {
      display: flex;
      justify-content: space-between; }
      #new-transaction-container #new-transaction .help-row .help > div {
        margin: 15px 0; }
    #new-transaction-container #new-transaction label {
      max-width: 210px; }
    #new-transaction-container #new-transaction input {
      margin-bottom: 4px;
      flex-grow: 1; }

#edit-transaction {
  padding: 22px;
  width: 600px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 15px 25px;
  box-shadow: 3px 3px 5px #777;
  border: 1px solid #777; }
  #edit-transaction > div {
    display: flex;
    justify-content: space-between;
    margin: 12px 0; }
    #edit-transaction > div.type {
      justify-content: center; }
    #edit-transaction > div > div {
      margin: 0px 20px;
      width: 200px; }
  #edit-transaction .autocomplete-container {
    position: relative; }
    #edit-transaction .autocomplete-container > input {
      width: 100%; }
    #edit-transaction .autocomplete-container .transactions-autocomplete {
      max-height: 200px;
      overflow: scroll;
      z-index: 9;
      background: white;
      width: 508px;
      position: absolute; }
      #edit-transaction .autocomplete-container .transactions-autocomplete#merchant-autocomplete {
        left: 0; }
      #edit-transaction .autocomplete-container .transactions-autocomplete#description-autocomplete {
        right: 0; }
      #edit-transaction .autocomplete-container .transactions-autocomplete td, #edit-transaction .autocomplete-container .transactions-autocomplete th {
        max-width: 57px;
        font-size: 13px;
        padding: 0;
        overflow: scroll; }
      #edit-transaction .autocomplete-container .transactions-autocomplete .selected {
        color: #ffffff; }
  #edit-transaction .btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  #edit-transaction input {
    margin-bottom: 4px; }

#transactions {
  background: white;
  border: 2px solid #ddd;
  box-shadow: 3px 3px 10px #777; }
  #transactions thead tr {
    background: white;
    color: #5bc0de; }
  #transactions td {
    height: 39px;
    position: relative;
    transition: all, 1.5s, ease; }
    #transactions td:hover .tooltip-container {
      visibility: visible; }
    #transactions td div:not(.tooltip) {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }
    #transactions td .tooltip-container {
      visibility: hidden;
      background: #777;
      color: #fff;
      border-radius: 4px;
      position: absolute;
      left: 90px;
      z-index: 9;
      padding: 9px 30px;
      top: 0;
      bottom: 0;
      margin: auto; }
  #transactions .tag-location-container {
    height: 24px; }
    #transactions .tag-location-container td {
      padding: 9px 0px 2px 0px;
      height: 24px; }
  #transactions .results_inner_div td {
    border-top: 1px solid #777; }

@media all and (max-width: 575px) {
  #transactions td, #transactions th {
    max-width: 57px;
    font-size: 9px;
    padding: 0;
    overflow: scroll; }
    #transactions td .fa, #transactions th .fa {
      font-size: 9px; } }
#budget #budget-toolbar {
  display: flex;
  justify-content: center;
  margin-top: 7px; }
  #budget #budget-toolbar .btn-group button {
    background: white;
    color: #5cb85c; }
    #budget #budget-toolbar .btn-group button.selected {
      background: #5cb85c;
      color: white; }
#budget #budget-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px;
  font-size: 15px;
  position: relative; }
  #budget #budget-content .new-entry {
    max-width: 280px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 3px 3px 5px #777;
    margin-bottom: 34px;
    padding: 10px 15px;
    border: 1px solid #777; }
    #budget #budget-content .new-entry input {
      margin-bottom: 10px; }
  #budget #budget-content tr {
    background: #fff; }
  #budget #budget-content th {
    cursor: help;
    border-radius: 15px; }
    #budget #budget-content th .fa-plus {
      color: #5cb85c; }
    #budget #budget-content th .fa-minus {
      color: #d9534f; }
  #budget #budget-content td {
    text-align: right; }
  #budget #budget-content input, #budget #budget-content select {
    width: 100%; }
  #budget #budget-content .totals {
    background: #777;
    color: white; }
  #budget #budget-content .edit {
    width: 20px;
    font-size: 6px; }

#graphs {
  display: flex;
  overflow: scroll;
  max-width: 800px; }
  #graphs .month-container {
    margin: 0px 10px; }
    #graphs .month-container #months {
      display: flex;
      align-items: flex-end;
      border: 1px solid #777;
      height: 500px; }
      #graphs .month-container #months #credit {
        background: #5cb85c; }
      #graphs .month-container #months #debit {
        background: #d9534f; }
      #graphs .month-container #months #credit, #graphs .month-container #months #debit {
        width: 30px;
        position: relative; }
        #graphs .month-container #months #credit span, #graphs .month-container #months #debit span {
          position: absolute;
          bottom: 4px; }

#help {
  display: flex;
  justify-content: center;
  color: #777;
  line-height: 1.5em;
  margin-top: 60px;
  margin-bottom: 60px; }
  #help #help-content {
    border: 1px solid #777;
    box-shadow: 3px 3px 5px #777;
    border-radius: 4px;
    padding: 20px 33px; }
    #help #help-content p, #help #help-content li {
      font-size: 18px;
      width: 780px;
      text-align: left; }
  #help h2:before, #help h4:before {
    display: block;
    content: " ";
    margin-top: -60px;
    height: 60px;
    visibility: hidden; }

#help-navigation-container {
  position: fixed; }
  #help-navigation-container .dropdown-content {
    width: 215px; }
    #help-navigation-container .dropdown-content #help-navigation > ul {
      padding-left: 5px; }
      #help-navigation-container .dropdown-content #help-navigation > ul li {
        list-style: none; }

#login, #register {
  padding-top: 85px; }
  #login .flex, #register .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px; }
  #login #login-errors, #register #login-errors {
    background: #f2dede;
    padding: 11px 20px;
    border-radius: 4px;
    color: #777;
    font-size: 18px;
    margin-bottom: 25px; }
  #login #remember-me-container, #register #remember-me-container {
    display: flex;
    align-items: center; }
    #login #remember-me-container label, #register #remember-me-container label {
      margin-bottom: 0; }

#tags {
  margin-bottom: 20px; }
  #tags .create-new-tag {
    box-shadow: 3px 3px 5px #777;
    margin-bottom: 30px;
    border-radius: 4px;
    padding: 14px;
    width: 293px; }
    #tags .create-new-tag .flex {
      display: flex;
      justify-content: space-between; }
  #tags table {
    padding: 20px 0 20px 20px; }
    #tags table tr td {
      text-align: left;
      height: 50px; }
      #tags table tr td .label {
        font-size: 18px; }
    #tags table tr .btn-danger {
      visibility: hidden; }
    #tags table tr:hover .btn-danger {
      visibility: visible; }

#tags, #accounts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px; }
  #tags > *, #accounts > * {
    max-width: 500px; }

#edit-account-name .popup-inner, #edit-tag-name .popup-inner, #edit-budget .popup-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 200px; }

#edit-budget .popup-inner {
  height: 240px; }
  #edit-budget .popup-inner input {
    margin-bottom: 15px; }

#accounts .create-new-account {
  box-shadow: 3px 3px 5px #777;
  margin-bottom: 30px;
  border-radius: 4px;
  padding: 14px;
  width: 293px; }
  #accounts .create-new-account .flex {
    display: flex;
    justify-content: space-between; }
#accounts tr .btn-danger {
  visibility: hidden; }
#accounts tr:hover .btn-danger {
  visibility: visible; }
#accounts tr td {
  font-size: 17px;
  height: 32px; }
