
#graphs {
    display: flex;
//    flex-wrap: wrap;
    overflow: scroll;
    max-width: 800px;
    .month-container {
        margin: 0px 10px;
        #months {
            display: flex;
            align-items: flex-end;
            border: 1px solid #777;
            height: 500px;
            #credit {
                background: $success;
            }
            #debit {
                background: $danger;
            }
            #credit, #debit {
                width: 30px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .span-container {
//                    position: absolute;
//                    bottom: 4px;
                    transform: rotate(90deg);
                }
            }
        }
    }


}


//.bar_chart_div {
//	display: flex;
//	align-items: flex-end;
//	justify-content: space-around;
//	position: absolute;
//	height: 370px;
//	width: 100%;
//	bottom: 0;
//	border-radius: $border-radius;
//	.bar_chart_li {
//		position: relative;
//		background: $lightgrey;
//		height: 50%;
//		width: 10px;
//		text-align: center;
//		p {
//			position: absolute;
//			width: 5px;
//			bottom: 0;
//		}
//	}
//}
