/*==============================global==============================*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background: #fff;
    margin: 0;
    //for flexbox sticky footer
    height: 100%;
}

h1,h2,h3,h4,h5 {
    text-align: center;
    color: #777;
}

body {
    padding-top: 40px;
    color: #777;
    .main {
        padding-bottom: 60px;
        min-height: 100%;
        display: none;
    }
    footer {
        display: none;
//        display: flex;
        justify-content: space-around;
        padding: 11px;
        background: #000000;
        height: 60px;
        position: relative;
        margin-top: -60px;
        li {
            display: flex;
            align-items: center;
        }

    }
}

button {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	font-size: 14px;
	padding: 6px 12px;
    &:not([disabled]) {
        &:active {
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
            border: 1px solid black;
        }
        &:focus {
//            outline: thin dotted;
//            outline-offset: -2px;
        }
        &:hover, &:focus, &:active {
            background-color: #e6e6e6;
            border-color: #adadad;
            color: #333;
        }
    }
    &[disabled] {
        cursor: not-allowed;
        opacity: .5;
    }
}

p {
	width: 238px;
	padding: 0 20px;
	text-align: center;
}

select {
	padding-top: 4px;
	width: 100%;
	height: 30px;
    &.form-control {
        display: inline;
    }
}

input[type="text"] {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	font-size: 14px;
	height: 34px;
	line-height: 1.42857;
	padding: 6px 12px;
	&:focus {
		border-color: #66afe9;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	}
}

input[type="checkbox"] {
	//height: 34px;
	//width: 34px;
	margin: 0;
}

table {
    border-collapse: separate;
    text-align: center;
    th {
        border-radius: 18px;
        padding: 10px 10px;
        text-align: center;
    }
    td {
        vertical-align: middle;
        padding: 0px 9px;
        > div {
            display: flex;
            align-items: center;
        }
    }
    &.table-rounded {
        border-radius: 18px;
    }
}

caption {
	padding: 8px;
	font-weight: bold;
}

