.pointer {
	cursor: pointer;
}

.hover-parent {
	> *:hover {
		background: #b5b5b5;
	}
}

.list-group {
    //To prevent funny corners when I give it a box-shadow
    border-radius: 5px;
}

.badge-success {
    background: $success;
}

.badge-danger {
    background: $danger;
}

.badge-warning {
    background: $warning;
}

.badge-info {
    background: $info;
}

.list-group-item-success {
    background: white;
    color: $success;
    span {
        background: $success;
    }
}

.list-group-item-warning {
    background: white;
    color: $warning;
    span {
        background: $warning;
    }
}
.list-group-item-info {
    background: white;
    color: $info;
    span {
        background: $info;
    }
}
.list-group-item-danger {
    background: white;
    color: $danger;
    span {
        background: $danger;
    }
}

.checkbox-container {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
	label {
		margin-bottom: 0;
		font-weight: normal;
	}
	input {
		margin-right: 5px;
	}
}

//For my budget autocompletes in the filter with a button next to them
.input-btn-container {
	display: flex;
	input {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.input-group-btn {
		width: auto;
	}
}

.btn-group {
    .btn {
        margin: 0 -2px;
        border-radius: 0px;
        &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

    }
}

.hover:hover {
	background: #b5b5b5;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.margin-bottom {
	margin-bottom: 15px;
}

.block {
	display:block;
}

.selected {
	background: $select_blue;
	color: white !important;
}

.absolute {
	position: absolute;
}

.fixed-bottom {
	position: fixed;
	bottom: 0;
}

.border-box {
	box-sizing: border-box;
}

.btn-xs {
	font-size: 8px;
	padding: 1px;
}

// =================================font=================================

.font-size-sm {
	font-size: 15px;
}

.font-size-md {
	font-size: 20px;
}

// =================================background=================================

.bg-blue {
	background: $select_blue;
}

.bg-red {
	background: lighten(red, 25%);
}

.bg-green-1 {
	background: $bootstrap_green;
}

.bg-green {
	background: darken(green, 10%);
}

.bg-yellow {
	background: lighten(yellow, 35%);
}

.bg-pink {
	background: pink;
}

.bg-grey {
	background: lighten($grey, 20%);
}

.bg-black {
	background: black;
}

.bg-dark {
    background: darken(#f2f8fa, 5%);
}

// =================================width=================================

.min-width-md {
	min-width: 40px;
}
.max-width-sm {
	max-width: 20px;
}
.max-width-md {
	max-width: 40px;
}
.max-width-lg {
	max-width: 80px;
}
.width-100 {
	width: 100%;
}

// =================================height=================================

.height-100 {
	height: 100%;
}

// =================================positioning=================================

.relative {
	position: relative;
}

.absolute-right {
	position: absolute;
	right: 0;
}



// =================================input group=================================

.my-input-group {
	input, button {
		display: block;
		width: 100%;
	}
}

// =================================button group=================================

.my-btn-group {
	display: flex;
	display: -webkit-flex;
	button {
		display: block;
		width: 100%;
	}
}

//=====================flex-parent properties:=====================
//display: flex | inline-flex
//flex-direction: row | row-reverse | column | column-reverse
//justify-content //defines alignment on the main axis: flex-start | flex-end | center | space-between //1st and last items on end of lines | space-around
//align-items //the justify-content version for the cross-axis: flex-start | flex-end | center | baseline //items are aligned such as their baselines align | stretch //default
//align-content: 
//flex-wrap: nowrap | wrap | wrap-reverse
//flex-flow: flex-direction flex-wrap //shorthand, didn't work with Firefox
//=====================flex-child properties:=====================
//order
//flex-grow
//flex-shrink
//flex-basis
// flex: grow, shrink, basis //shorthand
//align-self //overide the alignment for individual flex items
//=======================end flex properties:=======================

// .row {
// 	display: flex;
// 	flex-wrap: wrap;
// 	margin: 15px 15px;
// 	> * {
// 		margin: 15px 15px;
// 	}
// }

// .col-sm-2 {
// 	flex-basis: 182px;
// }



// =================================flex=================================

// .flex-parent {
// 	display: flex;
// 	display: -webkit-flex;
// }
// .flex-grow-1 {
// 	flex-grow: 1;
// 	-webkit-flex-grow: 1;
// }
// .flex-grow-2 {
// 	flex-grow: 2;
// 	-webkit-flex-grow: 2;
// }
// .flex-basis-xs {
// 	flex-basis: 20px;
// 	-webkit-flex-basis: 20px;
// }
// .flex-basis-sm {
// 	flex-basis: 40px;
// 	-webkit-flex-basis: 40px;
// }
// .flex-basis-md {
// 	flex-basis: 80px;
// 	-webkit-flex-basis: 80px;
// }