.tag-with-budget {
	background: green;
}

.tag-with-fixed-budget {
	background: $primary;
	.type {
		font-size: 6px;
	}
}

.tag-with-flex-budget {
	background: $warning;
	.type {
		font-size: 6px;
	}
}

.tag-without-budget {
	.type {
		font-size: 6px;
	}
}

#my_results .my-dropdown-container, #new-transaction-wrapper .my-dropdown-container {
	padding: 0px !important;
}

.label {
	margin-right: 3px;
}

.no_match {
	display: none;
}

.hidden_tag {
	display: none;
}

#tag_exists {
	display:none;
}

.select, #description_autocomplete tbody.select {
	background: $select_blue;
}

.pointer {
	cursor: pointer;
}

.hover-parent {
	> *:hover {
		background: #b5b5b5;
	}
}

.list-group {
    //To prevent funny corners when I give it a box-shadow
    border-radius: 5px;
}

.badge-success {
    background: $success;
}

.badge-danger {
    background: $danger;
}

.badge-warning {
    background: $warning;
}

.badge-info {
    background: $info;
}

.list-group-item-success {
    background: white;
    color: $success;
    span {
        background: $success;
    }
}

.list-group-item-warning {
    background: white;
    color: $warning;
    span {
        background: $warning;
    }
}
.list-group-item-info {
    background: white;
    color: $info;
    span {
        background: $info;
    }
}
.list-group-item-danger {
    background: white;
    color: $danger;
    span {
        background: $danger;
    }
}

.checkbox-container {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
	label {
		margin-bottom: 0;
		font-weight: normal;
		white-space: nowrap;
	}
	input {
		margin-right: 5px;
	}
}

//For my budget autocompletes in the filter with a button next to them
.input-btn-container {
	display: flex;
	input {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.input-group-btn {
		width: auto;
	}
	&.xs {
		input {
			height: 20px;
		}
		button {
			height: 20px;
			line-height: 0;
			font-size: 8px;
			padding: 6px 4px;
		}
	}
}

.btn-group {
    .btn {
        margin: 0 -2px;
        border-radius: 0px;
        &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

    }
}

.hover:hover {
	background: #b5b5b5;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.margin-bottom {
	margin-bottom: 15px;
}

.block {
	display:block;
}

.selected {
	background: $select_blue;
	color: white !important;
}

.absolute {
	position: absolute;
}

.fixed-bottom {
	position: fixed;
	bottom: 0;
}

.border-box {
	box-sizing: border-box;
}

.btn-xs {
	font-size: 8px;
	padding: 1px 3px;
}

// =================================font=================================

.font-size-sm {
	font-size: 15px;
}

.font-size-md {
	font-size: 20px;
}

// =================================background=================================

.bg-blue {
	background: $select_blue;
}

.bg-red {
	background: lighten(red, 25%);
}

.bg-green-1 {
	background: $bootstrap_green;
}

.bg-green {
	background: darken(green, 10%);
}

.bg-yellow {
	background: lighten(yellow, 35%);
}

.bg-pink {
	background: pink;
}

.bg-grey {
	background: lighten($grey, 20%);
}

.bg-black {
	background: black;
}

.bg-dark {
    background: darken(#f2f8fa, 5%);
}

// =================================width=================================

.min-width-md {
	min-width: 40px;
}
.max-width-sm {
	max-width: 20px;
}
.max-width-md {
	max-width: 40px;
}
.max-width-lg {
	max-width: 80px;
}
.width-100 {
	width: 100%;
}

// =================================input group=================================

.my-input-group {
	input, button {
		display: block;
		width: 100%;
	}
}

.my-btn-group {
	display: flex;
	display: -webkit-flex;
	button {
		display: block;
		width: 100%;
	}
}