#preferences-page {
    margin: 20px;
    .clear-fields-container {
        display: flex;
        align-items: center;
        label {
            margin-bottom: 0;
            margin-right: 5px;
        }
    }
    //> * {
    //    margin: auto;
    //}
    //table {
    //    border-radius: none;
    //    td {
    //        border: none;
    //    }
    //    max-width: 312px;
    //}
    .colors {
        max-width: $preferencesWidth;
        margin: auto;
        .color {
            margin-bottom: 20px;
            //.flex {
            //    display: flex;
            //    button {
            //        margin-left: 15px;
            //    }
            //}
        }
    }
    .new-transaction {
        margin: auto;
        max-width: $preferencesWidth;
    }
    .formats {
        margin: auto;
        max-width: $preferencesWidth;
    }
    > .form-group {
        margin: auto;
        max-width: $preferencesWidth;
        button {
            width: 100%;
        }
    }
}