#tags {
    margin-bottom: 20px;
    .create-new-tag {
        @include createNew;
    }

    table {
        padding: 20px 0 20px 20px;
//        box-shadow: 3px 3px 5px #777;
        tr {
            td {
                text-align: left;
                height: 50px;
                .label {
                    font-size: 18px;
                }
            }
            .btn-danger {
                visibility: hidden;
            }
            &:hover {
                .btn-danger {
                    visibility: visible;
                }
            }
        }
    }

}





