#tags {
    margin-bottom: 20px;
    .create-new-tag {
        @include createNew;
    }

    table {
        padding: 20px 0 20px 20px;
//        box-shadow: 3px 3px 5px #777;
        tr {
            td {
                text-align: left;
                height: 50px;
                .label {
                    font-size: 18px;
                }
            }
            .btn-danger {
                visibility: hidden;
            }
            &:hover {
                .btn-danger {
                    visibility: visible;
                }
            }
        }
    }

}

.tag-with-budget {
    background: green;
}

.tag-with-fixed-budget {
    background: $primary;
    .type {
        font-size: 6px;
    }
    //&:after {
    //    content: ' fixed';
    //    font-size: 6px;
    //}
}

.tag-with-flex-budget {
     background: $warning;
     .type {
         font-size: 6px;
     }
     //&:after {
     //    content: ' flex';
     //    font-size: 6px;
     //}
 }

.tag-without-budget {
    .type {
        font-size: 6px;
    }
}

