#navbar {
    display: none;
//    display:flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    color: #888;
    background: black;
    padding: 0;
    margin: 0;
    > li {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 44px;
        min-width: 70px;
        > a {
            transition: all .5s ease;
//            font-size: 19px;
//            font-weight: bold;
        }
        &:hover {
            > a {
                font-size: 25px;
            }
        }
    }
    a {
        color: #337ab7;
    }
    .gravatar-li {
        min-width: 160px;
        .gravatar-container {
            margin-left: 5px;
            display: flex;
            align-items: center;
            .gravatar {
                border-radius: 8px;
                height: 32px;
            }
        }
    }
}

#playground-notice {
    text-align: center;
    background: $danger;
    padding: 8px;
    color: white;
    a {
        color: white;
        font-weight: bold;
        text-decoration: underline;
    }
}

//
//@media all and (max-width: 500px) {
//	#nav {
//		.fa {
//			font-size: 14px;
//		}
//	}
//}