.popup-outer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    .popup-inner {
        border-radius: 5px;
        background: white;
        overflow: scroll;
        max-height: 650px;
        padding: 25px;
        margin: 0 30px;
        .popup-title {
            margin-bottom: 30px;
            margin-top: 0;
        }
        .buttons {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 30px;
            button {
                margin: 0 5px;
            }
        }
        .top-btns {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }
    }
}

@media all and (min-width: 680px) {
    .popup-inner {
        padding: 22px;
    }
}