#toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 25px 33px 18px 30px;
    button:not(:last-child) {
        margin-right: 3px;
    }
    .badge {
        margin-left: 15px;
        margin-right: 20px;
    }
	select {
		width: auto;
	}
    .toolbar-filter, .flex {
        display: flex;
        align-items: center;
    }
    .flex {
        justify-content: flex-start;
    }
    .btn-group {
        button {
            background: white;
            color: #5cb85c;
            margin: 0;
            &.selected {
                background: #5cb85c;
                color: white;
            }
        }
    }
}