.totals {
    box-shadow: 3px 3px 10px #777;
    margin-bottom: 20px;
    padding-bottom: 10px;
    td {
        text-align: right;
        &:first-child {
            max-width: 200px;
        }
        padding: 3px 5px;

    }
    tr:not(:last-child) {
        td {
            border-bottom: 1px solid #777;
        }
    }
}