@mixin totals {
	background: #777;
	color: white;
}

@mixin navBackground {
	background: #FF5F6D; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, $base3, $base2 , $base1); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, $base3, $base2 , $base1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}