#accounts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    > * {
        max-width: 500px;
    }
    .create-new-account {
        @include createNew;
    }
    tr {
        .btn-danger {
            visibility: hidden;
        }
        &:hover {
            .btn-danger {
                visibility: visible;
            }
        }
        td {
            font-size: 17px;
            height: 32px;
        }
    }
}