//.autocomplete-dropdown-item {
//    @media (max-width: 600px) {
//        padding: 8px 0;
//    }
//}
//
///* AutoComplete CSS */
//
//.angucomplete-container {
//    position: relative;
//    input {
//        width: 100%;
//    }
//    .angucomplete-dropdown {
//        border-color: #ececec;
//        border-width: 1px;
//        border-style: solid;
//        border-radius: 2px;
//        width: 250px;
//        padding: 6px;
//        cursor: pointer;
//        z-index: 9999;
//        position: absolute;
//        margin-top: -6px;
//        background-color: #ffffff;
//        .angucomplete-dropdown-item {
//            padding: 5px;
//            color: #000000;
//            margin-bottom: 4px;
//        }
//        .angucomplete-selected-item, .highlight {
//            background-color: lightblue;
//            color: #ffffff;
//        }
//    }
//}
//
//.tag-wrapper {
//    .tag-input-wrapper {
//
//    }
//}

