#budget {
	display: flex;
	flex-direction: column;
	margin: 30px;
	table {
		
	}
	tr {
		background: #fff;
	}
	th {
		cursor: help;
	}
	td {
	    text-align: right;
	}
	input, select {
		width: 100%;
	}
	.CSD {
		width: 140px;
	}
	.totals {
		@include totals;
	}
	.edit {
		width: 20px;
		font-size: 6px;
	}
}


/*==============================budget==============================*/
// .budget {
// 	.budget_input, .perc_budget_input {
// 		@include transactions;
// 	}
// }

// #budget_hover_span {
// 	top: 74px;
// 	right: 127px;
// }

// .budget_info_ul {
// 	position: relative;
// }

// #budget-modal-dialog {
// 	width: 70%;
// }
