#loading {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 40px;
    color: #5bc0de;
    display: flex;
//    background: pink;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    z-index: 9;
}

#page-loading {
    background: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 99;
    font-size: 40px;
    color: #5bc0de;
    display: flex;
    justify-content: center;
    align-items: center;
}