#loading {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
//    text-align: center;
    font-size: 40px;
    color: #5bc0de;
    display: flex;
//    background: pink;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    z-index: 9;
}