.error_message {
    font-size: 17px;
    position: fixed;
    text-align: center;
    top: 52px;
    width: 100%;
	background: lighten(red, 20%);
	padding: 3px 8px;
	cursor: pointer;
}

#feedback {
    position: fixed;
    right: 11px;
    top: 44px;
    z-index: 9999;
    .feedback-message {
        background: white;
        color: #777;
        line-height:40px;
        margin-bottom: 20px;
        padding: 0px 10px;
        border-radius: 4px;
        position: relative;
        border: 1px solid #777;
        box-shadow: 3px 3px 5px #777, inset 0 0 5px #777;
    }

    .feedback-message.ng-move,
    .feedback-message.ng-enter,
    .feedback-message.ng-leave {
        -webkit-transition:all linear .5s;
        transition:all linear .5s;
    }

    .feedback-message.ng-leave.ng-leave-active,
    .feedback-message.ng-move,
    .feedback-message.ng-enter {
        left: 200px;
    }

    .feedback-message.ng-leave,
    .feedback-message.ng-move.ng-move-active,
    .feedback-message.ng-enter.ng-enter-active {
        left: 0;
    }
}




