#navbar {
    display:flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    color: #888;
    background: #000000;
    > li {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 44px;
        min-width: 70px;
//        background: pink;
        > div {
            position: absolute;
            height: 20px;
            top: 0;
            bottom :0;
            margin: auto;
        }
        a {
            transition: all .5s ease;
        }
        &:hover {
            a {
                font-size: 25px;
            }
        }
    }
//    li {
//        padding: 4px 0;
//        display: flex;
//        align-items: center;
//        a {
//            color: #337ab7;
//            width: 100%;
//        }
//    }
    .gravatar-li {
        min-width: 160px;
        .gravatar-container {
            margin-left: 5px;
            display: flex;
            align-items: center;
            .gravatar {
                border-radius: 8px;
                height: 32px;
            }
        }
    }
}

//
//@media all and (max-width: 500px) {
//	#nav {
//		.fa {
//			font-size: 14px;
//		}
//	}
//}