#navbar {
    display:flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    color: #888;
    background: #000000;
    > li {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 44px;
        min-width: 70px;
        a {
            transition: all .5s ease;
        }
        &:hover {
            a {
                font-size: 25px;
            }
        }
    }
    a {
        color: #337ab7;
    }
    .gravatar-li {
        min-width: 160px;
        .gravatar-container {
            margin-left: 5px;
            display: flex;
            align-items: center;
            .gravatar {
                border-radius: 8px;
                height: 32px;
            }
        }
    }
}

//
//@media all and (max-width: 500px) {
//	#nav {
//		.fa {
//			font-size: 14px;
//		}
//	}
//}