.popup-outer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 999;
    .popup-inner {
        position: relative;
        border-radius: 5px;
        margin-top: 10%;
        background: white;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        overflow: scroll;
        height: 500px;
        padding: 25px;
        .popup-buttons {
            position: absolute;
            bottom: 10px;
            right: 10px;
            margin: 0px 3px;
        }
    }
}

#recipe-method, #edit-recipe-method {
    background: lightgrey;
}

@media all and (min-width: 680px) {
    .popup-inner {
        padding: 22px;
    }
}