#password-reset-page {
    margin: 40px;
    .success-message {
        background: $success;
    }
    .error-message {
        background: $danger;
    }
    .message {
        padding: 8px 15px;
        border-radius: 4px;
        color: white;
    }
}