
#new-transaction-container {
	display: flex;
	justify-content: center;
    #new-transaction {
        @include transaction_popup;
        animation: slideInDown .5s;
        &.ng-hide {
            animation: slideOutUp .5s;
        }
        .help-row {
            display: flex;
            justify-content: space-between;
            .help {
                > div {
                    margin: 15px 0;
                }
            }
        }
        label {
            max-width: 210px;
        }
        #add-transaction {
//            width: 100%;
        }
        input {
            margin-bottom: 4px;
            flex-grow: 1;
        }
    }
}

#edit-transaction {
	padding: 22px;
    @include transaction_popup;
    input {
        margin-bottom: 4px;
    }
}

// @media all and (min-width: 300px) {
// 	#new-transaction, #edit-transaction {
// 		flex-direction: row;
// 		flex-wrap: wrap;
// 		select {
// 			// flex-basis: 127px;
// 		}
// 	}
// }