

#transactions {
	background: white;
    border: 2px solid #ddd;
    box-shadow: 3px 3px 10px #777;
	td {
		height: 39px;
        position: relative;
        transition: all, 1.5s, ease;
        &:hover {
            .tooltip-container {
                visibility: visible;
            }
        }
		div:not(.tooltip) {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
			height: 39px;
		}
        .tooltip-container {
            visibility: hidden;
            background: #777;
            color: #fff;
            border-radius: 4px;
            position: absolute;
            left: 90px;
            z-index: 9;
            padding: 9px 30px;
            top: 0;
            bottom: 0;
            margin: auto;
            .tooltip {

            }
        }
	}
	.tag-location-container {
		height: 24px;
		td {
			padding: 0;
			height: 24px;
		}
	}
}

@media all and (max-width: 575px) {
	#transactions {
		td, th {
			max-width: 57px;
			font-size: 9px;
			padding: 0;
			overflow: scroll;
			.fa {
				font-size: 9px;
			}
		}
	}
}

